@model QuestionDetails 
@{
    var option_list = Model.CurrentQuestion.data_questions;
}
<h1 class="text-center">@Model.QuizTitle</h1>
<h3>@Model.CurrentQuestion.HeaderIndex. @Model.CurrentQuestion.HeaderText</h3>
    <form method="post" asp-controller="Home" asp-action="SendAnswer" asp-antiforgery="true">

     <input type="hidden" asp-for="@Model.QuizID" />
    <input type="hidden" asp-for="@Model.QuestionID" />
    <input type="hidden" asp-for="@Model.NextQuestionID" />
    <input type="hidden" asp-for="@Model.TotalCount" />
    <input type="hidden" asp-for="@Model.IndexOnScreen" />
       
    @for (int k = 0; k < option_list.Count(); k++)
    {
        <div class="form-check">
            @switch (Model.CurrentQuestion.AnswerExists())
            {
                case true:
                    if (option_list.ElementAt(k).Answer)
                    {
                        <input type="radio"
                               class="form-check-input"
                               name="SelectedLetter"
                               id="SelectedLetter[@k]"
                               value="@Convert.ToInt32(option_list.ElementAt(k).Letter)"
                               checked>
                    }
                    else
                    {
                        <input type="radio"
                               class="form-check-input"
                               name="SelectedLetter"
                               id="SelectedLetter[@k]"
                               value="@Convert.ToInt32(option_list.ElementAt(k).Letter)">
                    }
                    break;
                case false:
                    @if (option_list.ElementAt(k).Letter == Model.SelectedLetter)
                    {
                        <input type="radio"
                               class="form-check-input"
                               name="SelectedLetter"
                               id="SelectedLetter[@k]"
                               value="@Convert.ToInt32(option_list.ElementAt(k).Letter)"
                               checked>

                    }
                    else
                    {
                        <input type="radio"
                               class="form-check-input"
                               name="SelectedLetter"
                               id="SelectedLetter[@k]"
                               value="@Convert.ToInt32(option_list.ElementAt(k).Letter)">

                    }
                    break;
            }
        <label class="form-check-label" for="SelectedLetter[@k]">
            <b>@option_list.ElementAt(k).Letter.</b> @option_list.ElementAt(k).QuestionText
        </label>
        </div>
    }

        <div class="text-center">
            <input type="submit" class="btn btn-primary d-inline" value="@captions.SendAnswer" />
        </div>
        
    </form>

    
<p class="progress_ask">
    @string.Format(captions.ProgressOf, Model.IndexOnScreen, @Model.TotalCount)
</p>
<div class="text-center">
    <form method="post" asp-controller="Home" asp-action="Reset">
        <input type="submit" class="btn btn-primary d-inline" value="@captions.ResetAnswer" />
        <a asp-action="Details"
        asp-controller="Home" asp-route-quiz_id="@Model.QuizID"
           class="btn btn-outline-primary d-inline" asp-route-question_id="@Model.PreviousQuestionID">@captions.Previos</a>
        <a asp-action="Details" asp-controller="Home" 
        asp-route-quiz_id="@Model.QuizID"
           class="btn btn-outline-primary d-inline" 
           asp-route-question_id="@Model.NextQuestionID">@captions.Next</a>
    </form>
    
</div>

    